@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    color: black;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 10vh;
    position: sticky;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
    margin: 0 40% 0 0;
}

.menu>div:hover{
    color: #7B85C1;
}

.logo{
    cursor: pointer;
}
.exp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 17%;
}

.hire {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.acc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12%;
}

.sign>button {
    text-decoration: none;
    border: none;
    background: #FFFFFF;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.sign>button:hover{
    color: #565564;
}
.log>button:hover{
    background-color: #565564;
}

.log>button {
    text-decoration: none;
    border: none;
    background: black;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 2vh 1.5vw;
    text-align: center;
    border-radius: 3vh;
    cursor: pointer;
}

.search{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh 0;
}

.search-container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.disc>h1{
    font-size: 4rem;
    font-weight: 500;
    margin: 5% 0;
    font-family: "Source Serif 4", serif;
}

.ex>p{
    font-size: 1rem;
    font-weight: 400;
}

.ser-input{
    display: flex;
    justify-content: center;
    align-items: center;

}